<% include partials/header %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1>CampJS</h1>
      <p>this will be the landing page</p><i class="glyphicon glyphicon-tent"></i><a href="/campgrounds">  View all campgrounds</a>
      <% include partials/footer %>
     </div>
 </div>
</div>
