<% include ../partials/header %>
<div class="container-fluid">
  <div class="row">
        <div class="col-md-4 col-md-offset-4" style="height: 200px;">
        </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1>Langing page</h1>
      <p>this will be the landing page</p>
      <a href="/campgrounds">View all campgrounds</a>
      <% include ../partials/footer %>
     </div>
 </div>
</div>
<style>

.row{
  font-size: 20px;
}


</style>
