<% include ./partials/header %>

      <form class="margin-top-big animated flipInX" action="/login" method="POST">
       <div class="from-group">
        <input class="form-control"type="text" name="username" placeholder="username">
       </dive>
       <div class="from-group">
         <input class="form-control" type="password" name="password" placeholder="password">
       </div>
       <input type="submit" class="btn btn-primary margin-top-small" value="login">
      </form>

<% include ./partials/footer %>
